<a href="https://colab.research.google.com/github/JayaManasa/learn_image-processing/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import keras
#from keras.dataset import fashion_mnist
import tenserflow as tf

ModuleNotFoundError: ignored

In [ ]:
tf.keras.datasets.fashion_mnist.load_data()

In [6]:
from keras.models import Sequential
from keras.layers import Dense

In [1]:
import pandas as pd
import numpy as np

In [2]:
dt = pd.read_csv('/content/auto-mpg.data')

In [4]:
dt.head()

  18.0   8   307.0      130.0      3504.      12.0   70  1\t"chevrolet chevelle malibu"
0  15.0   8   350.0      165.0      3693.      11...
1  18.0   8   318.0      150.0      3436.      11...
2  16.0   8   304.0      150.0      3433.      12...
3  17.0   8   302.0      140.0      3449.      10...
4  15.0   8   429.0      198.0      4341.      10...

In [2]:
cars = pd.read_csv('/content/car.data')

In [3]:
cars.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [6]:
from sklearn.tree import DecisionTreeClassifier
dtc_demo = DecisionTreeClassifier()
x=  cars.drop(['unacc'], axis = 1)
y = cars['unacc']